HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Eclipse
.settings/
.project
.classpath
bin/
tmp/
build/
local.properties
*.launch

## JetBrains IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#Windows thumbnails
Thumbs.db

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Visual Studio Code ###
.vscode/
.vs/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

# Temporary files
temp
