h1
{
	color: #78ab46;
	text-align:center;
}

.error-message
{
	color: #a94442;
}

.error-message:first-letter
{
	text-transform: capitalize;
}

.carousel-inner img
{
	width: 100%;
	height: 100%;
}

table {
	width: 99%
}
table td
{
	vertical-align:top;
	border:solid 1px #888;
	padding:10px;
}

.thead-dark{
	border: 1px solid black;
}
.fixed-bottom{
	padding: 0 16px;
}

.navbar>.container, .navbar>.container-fluid
{
	margin:0px;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed
{
	display: none;
}

.logo img
{
	position:absolute;
	}

html {
	font-size: 1rem;
}

body {
	padding-bottom: 60px;
}

@include media-breakpoint-up(sm) {
	html {
		font-size: 1.2rem;
	}
}

@include media-breakpoint-up(md) {
	html {
		font-size: 1.4rem;
	}
}

@include media-breakpoint-up(lg) {
	html {
		font-size: 1.6rem;
	}

@media (max-width: 576px) {
  .xs {color:red;font-weight:bold;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {
  .sm {color:red;font-weight:bold;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {
 .md {color:red;font-weight:bold;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {
 .lg {color:red;font-weight:bold;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .xl {color:red;font-weight:bold;}
}